html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0 2rem;
    background-color: rgba(0, 0, 0, 0.05);
}

.root {
    padding: 1rem 0 2rem; 
}
.container {
    box-sizing: border-box;
    padding: 10px;
}

.box {
    position: relative;
    width: 100px;
    height: 100px;
    background-color: #fff;
}


.lines {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    span {
        display: inline-block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        border-top: dashed 1px rgba(0, 0, 0, 0.1);
    }
    span:nth-child(2) {
        bottom: 20%;
    }
    span:nth-child(3) {
        bottom: 40%;
    }
    span:nth-child(4) {
        bottom: 60%;
    }
    span:nth-child(5) {
        bottom: 80%;
    }
    span:nth-child(6) {
        bottom: 100%;
    }
}


svg {
    position: relative;
    width: 100%;
    height: 100%;
}

polyline {
    fill: none;
    stroke: #a56819;
    stroke-width: 3px;
    stroke-linecap: round;
    stroke-linejoin: round;
}


.box2 {
    width: 200px;
    height: 200px;
    polyline {
        stroke-width: 2px;
    }
}

.box3 {
    width: 100%;
    max-width: 500px;
    polyline {
        stroke-width: 1px;
    }
}